/* Full Header */
.header {
  background-color: #00c8ff;
}

/* Component Styles */
.search {
  position: relative;
}

.search__input {
  width: 264px;
  height: 32px;
  background: #ffffff;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
}

.search__input::placeholder {
  font-size: 14px;
  color: #c4c4c4;
  text-indent: 12px;
}

.search__magnifier {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Header Top Styles */
.header-top {
  display: flex;
  justify-content: space-between;
  padding: 14px 40px 14px 110px;
}

.header-top__mobile button {
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

.header-top__user {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 40px;
  align-items: center;
  height: fit-content;
}

.user__login {
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.user__shoppingCart {
  cursor: pointer;
}

/* Divisor */

.divisor {
  height: 1px;
  background-color: #c4c4c4;
}

/* Header Bottom Styles */
.header-bottom {
  padding: 14px 40px 14px 110px;
}

.header-ul {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 126px;
}

.header-ul__li {
  height: fit-content;
}

.li__text {
  max-height: fit-content;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

@media screen and (min-width: 769px) {
  .header-top__mobile {
    display: none;
  }

  .header-top__user {
    padding-top: 14px;
  }

  .header-top__logo {
    margin-top: 4px;
  }

  .header-bottom .search {
    display: none;
  }

  .search {
    margin: 12px 0 4px;
  }
}

@media screen and (max-width: 768px) {
  .header-top {
    align-items: center;
    padding: 30px 16px 16px;
  }

  .user__login {
    display: none;
  }

  .divisor {
    display: none;
  }

  .header-bottom {
    padding: 16px;
  }

  .header-ul {
    display: none;
  }

  .header-top .search {
    display: none;
  }

  .header-bottom .search input {
    width: 100%;
  }
}
