.form-wrapper {
  width: 100%;
  max-width: 392px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper form {
  width: 100%;
}

.form-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  position: relative;
}

.form-col input {
  background: #ffffff;
  border: 1px solid #100d0e;
  border-radius: 25px;
  outline: 0;
  padding: 11px 28px;
}

.form-wrapper button {
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  background: #03bffe;
  border-radius: 25px;
  color: #ffffff;
  height: 52px;
  cursor: pointer;
}

.form-wrapper button:hover {
  transition: 0.2s ease-in-out;
  filter: brightness(90%);
}

.error-message {
  color: red;
  position: absolute;
  bottom: -16px;
}
